---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout
	title="Porfolio de Brayan Dávila - Desarrollador y Programador Web con 2 años de experiencia"
	description="Contrata a Brayan Dávila para crear tu aplicación web o móvil. Desarrollador Web y Apasionado por la Tecnología. Especializado en crear aplicaciones únicas."
>
	<main class="px-4">
		<SectionContainer class="pt-32 pb-32 min-h-screen" id="home">
			<img
				class="rounded-full size-24 mb-4"
				src="/brayandavila.webp"
				alt="brayandavila"
			/>
			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row flex-wrap gap-4 pb-6 lg:pb-10"
			>
				Hey, soy Brayan Dávila <a
					href="https://www.linkedin.com/in/brayan-davila-a484b991/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2
				class="text-xl lg:text-2xl text-balance max-w-[700px] text-white"
			>
				<span>+2 años de experiencia.</span><span
					class="text-yellow-200"
				>
					Desarrollador Web.</span
				>
				<span class="text-red-200"> De Bucaramanga, Colombia</span>.
				<span class="text-sky-200"
					>Especializado en crear aplicaciones únicas.</span
				>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill
					href="https://www.linkedin.com/in/brayan-davila-a484b991/"
				>
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/brayandavila">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:brageodavovi@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					brageodavovi@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/80"
			>
				<Briefcase class="size-7" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/80"
			>
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
