---
import Habilidades from "./Habilidades.astro";
---

<h3 class="text-lg font-semibold text-yellow-200 mt-2">
    Perfil profesional 
</h3>
<p class="mb-4 font-normal text-gray-200 text-pretty">
    Saludos, soy un Tecn贸logo en Desarrollo de Sistemas con una s贸lida
    experiencia en diversos lenguajes de programaci贸n, entre los que se incluyen
    JavaScript, Python, C++, SQL, Typescript, Dart y PHP.
</p>
<p class="mb-4 font-normal text-gray-200 text-pretty">
    Mi destreza abarca el manejo experto de frameworks como Angular, Laravel y
    Flutter, y poseo habilidades avanzadas en el uso de herramientas de control
    de versiones como Git y GitHub.
</p>
<p class="mb-4 font-normal text-gray-200 text-pretty">
    En mi enfoque laboral, destaco por ser 谩gil y colaborativo, habiendo
    participado en proyectos que implementaron metodolog铆as SCRUM y Kanban.
</p>
<h3 class="text-lg font-semibold text-yellow-200 mt-2">
    Experiencia Laboral Reciente 
</h3>
<h4 class="text-lg text-yellow-100 mt-2">
    L铆der t茅cnico y de desarrollo en Innovating 
</h4>
<p class="mb-4 font-normal text-gray-200 text-pretty">
    En mi rol como l铆der t茅cnico y de desarrollo en Innovating, tuve la
    responsabilidad de liderar el desarrollo de soluciones de software a medida
    para diversas 谩reas de negocio, tales como contabilidad, recursos humanos,
    n贸minas, inventario, producci贸n y gesti贸n de tareas.
</p>
<p class="mb-4 font-normal text-gray-200 text-pretty">
    Dirig铆 la implementaci贸n de soluciones utilizando Laravel para administrar
    la API, consumida desde el frontend construido con Angular. Defin铆
    requisitos, planifiqu茅 el proyecto, asign茅 tareas y asegur茅 la calidad del
    c贸digo.
</p>
<p class="mb-4 font-normal text-gray-200 text-pretty">
    Durante esta experiencia, fortalec铆 mis habilidades de liderazgo, gesti贸n de
    proyectos y mi pericia en el desarrollo de software, adquiriendo un profundo
    conocimiento de Laravel y Angular en entornos empresariales.
</p>
<Habilidades />
