---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Marzo 2022 - Actualmente",
    title: "Desarrollador FullStack − Innovating",
    description: `<p>Líder Técnico y de Desarrollo, actualmente a cargo del diseño y ejecución de soluciones de software personalizadas para diversas áreas empresariales.</p> <p> Superviso la implementación de soluciones, utilizando Laravel para la administración de la API, la cual se consume desde el frontend construido en Angular.</p>
    <p>Mis responsabilidades actuales abarcan la definición exhaustiva de requisitos, la planificación estratégica del proyecto, la asignación efectiva de tareas y la garantía de la calidad del código en curso.</p>`,
  },
  {
    date: "Enero 2019 - Marzo 2022",
    title: "Freelance  − Soporte de hardware y software",
    description:
      "- Mantenimiento de equipos. <br> - Creación y gestión de bases de datos. <br> - Configuración y mantenimiento de equipos",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
