---
import HomeIcon from "./icons/Home.astro";
import CodeIcon from "./icons/Code.astro";
import Briefcase from "./icons/Briefcase.astro";
import UserIcon from "./icons/User.astro";
import MailCodeIcon from "./icons/MailCode.astro";
---

<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
  id="header"
>
  <nav
    class={`
      border border-black rounded-full
      px-3 
      flex flex-row items-center
      bg-neutral-200 dark:bg-black/50
      backdrop-blur-2xl
    `}
    id="nav"
  >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="#home">
      <HomeIcon class="size-7 inline md:hidden" />
      <span class="hidden md:inline">Inicio</span>
    </a>
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href="#experiencia"
    >
      <Briefcase class="size-7 inline md:hidden" />
      <span class="hidden md:inline">Experiencia</span></a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="#proyectos"
      ><CodeIcon class="size-7 inline md:hidden" />
      <span class="hidden md:inline">Proyectos</span></a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="#sobre-mi">
      <UserIcon class="size-7 inline md:hidden" />
      <span class="hidden md:inline">Sobre mí</span></a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="#contacto">
      <MailCodeIcon class="size-7 inline md:hidden" />
      <span class="hidden md:inline">Contacto</span></a
    >
  </nav>
</header>

<style>
  #nav {
    animation: enhance-header auto linear;
    animation-timeline: scroll(root block);
  }

  @keyframes enhance-header {
    from {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
    to {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
</style>
